@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Satisfy&display=swap");
/*COLORS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  background-color: #F5A5A5;
  border-radius: 5px;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #e8b3ab;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
}

/*START*/
/*HEADER & NAV*/
.color {
  color: #F5A5A5;
}

.navbar-brand {
  font-family: 'Bad Script', cursive;
}

.navbar-nav .active a {
  color: #F5A5A5 !important;
}

.navbar-nav a {
  color: rgba(0, 0, 0, 0.85) !important;
  padding-right: 15px !important;
}

.navbar-nav a:hover {
  color: #F5A5A5 !important;
}

/*CAROUSEL*/
.carousel-item {
  background: no-repeat center center scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  .carousel-item {
    height: 90vh;
    min-height: 300px;
  }
}

.carousel-caption {
  bottom: 15% !important;
  font-size: 3vw;
  border-radius: 15px 30px;
}

@media (min-width: 576px) {
  .carousel-caption {
    bottom: 30% !important;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .carousel-caption {
    bottom: 40% !important;
  }
}

.carousel-caption h5 {
  font-size: 1.2em;
  font-family: 'Bad Script', cursive;
  letter-spacing: 5px;
  font-style: italic;
}

@media (min-width: 768px) {
  .carousel-caption h5 {
    font-size: 2.4em;
  }
}

.carousel-caption p {
  font-size: 1em !important;
}

/*FOOTER*/
footer h6 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

footer #footer-contact p {
  max-width: 250px;
}

footer .column1 .btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5A5A5), color-stop(#fff), to(#F5A5A5));
  background: linear-gradient(#F5A5A5, #fff, #F5A5A5);
}

footer .column1 .btn2 {
  border: 1px solid #F5A5A5;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 0.25rem;
}

footer .column1 p {
  font-size: 0.7em;
}

@media (min-width: 576px) {
  footer .column1 p {
    font-size: 1em;
  }
}

footer .useful-links a {
  color: rgba(0, 0, 0, 0.85) !important;
  letter-spacing: 0.2em;
  padding-right: 15px !important;
}

footer .useful-links a:hover {
  color: #F5A5A5 !important;
}

/*SOCIAL ICONS*/
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwitter:hover {
  background-color: #1DA1F2;
}

.social-network a.icoGplus:hover {
  background-color: #db4a39;
}

.social-network a.icoInstagram:hover {
  background-color: #e4405f;
}

.social-network a.icoFacebook:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGplus:hover i, .social-network a.icoInstagram:hover i {
  color: #fff;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin-left: 2.5px;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

/*HOME*/
/*SECTION 1*/
#about hr {
  width: 80px;
}

@media (min-width: 992px) {
  #about figure {
    margin-top: 65%;
  }
}

#about #exampleModalLabel {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

#about p {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  #about p {
    font-size: 1em;
  }
}

#about h2 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

#about .modal-header h1 {
  font-size: 1.6em;
}

@media (min-width: 576px) {
  #about .modal-header h1 {
    font-size: 2em;
  }
}

/*SECTION 2*/
#bg, #bg2, #bg4, #bg5 {
  background-image: url("../img/one_rose.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(50% 7%, 50% 7%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
          clip-path: polygon(50% 7%, 50% 7%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
}

#bg .pagelines, #bg2 .pagelines, #bg4 .pagelines, #bg5 .pagelines {
  font-size: 30px;
}

#bg h1, #bg2 h1, #bg4 h1, #bg5 h1 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

#bg .btn:hover, #bg2 .btn:hover, #bg4 .btn:hover, #bg5 .btn:hover {
  background: #fff;
  color: #000;
}

#bg .btn4, #bg2 .btn4, #bg4 .btn4, #bg5 .btn4 {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0.25rem;
}

#bg p, #bg2 p, #bg4 p, #bg5 p {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  #bg p, #bg2 p, #bg4 p, #bg5 p {
    font-size: 1em;
  }
}

/*section 3*/
#shop hr {
  width: 80px;
}

#shop h2 {
  font-size: 1.2em;
}

@media (min-width: 576px) {
  #shop h2 {
    font-size: 1.8em;
  }
}

#shop .btn-c .btn:hover {
  background: #000;
  color: #fff;
}

#shop .btn-c .btn5 {
  border: 1px solid #000;
  color: #000;
  border-radius: 0.25rem;
}

#shop h5 {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  #shop h5 {
    font-size: 1em;
  }
}

/*section 4*/
#trend .right hr {
  width: 80px;
}

#trend .right h2 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

#trend #exampleModalLabel2 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

#trend p {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  #trend p {
    font-size: 1em;
  }
}

#trend .modal-header h1 {
  font-size: 1.6em;
}

@media (min-width: 576px) {
  #trend .modal-header h1 {
    font-size: 2em;
  }
}

#trend img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  max-height: 480px;
}

/*home end*/
/*SERVICES*/
/*SECTION 1*/
#s15 .card {
  -webkit-transition: all .5s;
  transition: all .5s;
}

#s15 .card h5 {
  color: #F5A5A5;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
}

#s15 .card p {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  #s15 .card p {
    font-size: 1em;
  }
}

#s15 .card img {
  width: 70px;
}

#s15 .card:hover {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.4) !important;
}

#bg3 {
  background: #F8EDEB;
  -webkit-clip-path: polygon(50% 0, 100% 5%, 100% 0, 95% 50%, 100% 97%, 50% 100%, 0 97%, 5% 50%, 0 0, 0 5%);
          clip-path: polygon(50% 0, 100% 5%, 100% 0, 95% 50%, 100% 97%, 50% 100%, 0 97%, 5% 50%, 0 0, 0 5%);
}

/*SECTION 2*/
#bg2 {
  background-image: url("../img/red_and_pink_roses.jpg");
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 8%, 100% 92%, 50% 100%, 50% 100%, 0 92%, 0 8%);
          clip-path: polygon(50% 0, 50% 0, 100% 8%, 100% 92%, 50% 100%, 50% 100%, 0 92%, 0 8%);
}

/*services end*/
/*SHOP*/
/*section 1*/
#exampleModal3 h5, #exampleModal3 .col-form-label {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
  font-size: 1.1em;
}

@media (min-width: 576px) {
  #exampleModal3 h5, #exampleModal3 .col-form-label {
    font-size: 1.3em;
  }
}

/*section 2*/
#bg4 {
  background-image: url("../img/red_roses.jpg");
  -webkit-clip-path: polygon(50% 7%, 50% 7%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
          clip-path: polygon(50% 7%, 50% 7%, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%, 0 0);
}

.modal-body input:hover, .modal-body select:hover {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

/*shop end*/
/*CONTACT*/
/*section 1*/
#bg5 {
  background-image: url("../img/red_and_pink_roses.jpg");
  -webkit-clip-path: none;
          clip-path: none;
}

#bg5 h1 {
  font-size: 1.7em;
}

@media (min-width: 768px) {
  #bg5 h1 {
    font-size: 2.4em;
  }
}

/*section 2*/
#contact h1, #contact label, #contact .btn8 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
}

#contact h1 {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #contact h1 {
    font-size: 2.4em;
  }
}

#contact label, #contact .btn8 {
  font-weight: bold;
}

#contact input:hover, #contact .btn8:hover, #contact textarea:hover {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

#contact .btn8 {
  border: 1px solid #F5A5A5;
  border-radius: .25rem;
  height: 60px;
}

#contact .btn8:hover {
  background-color: #e8b3ab;
  color: #fff;
}

#contact .btn8:hover a {
  color: #fff;
}

#contact .btn8 a {
  color: #e8b3ab;
}

#contact #social2 li, #contact #social2 p {
  font-size: 0.7em;
}

@media (min-width: 768px) {
  #contact #social2 li, #contact #social2 p {
    font-size: 1em;
  }
}

#contact .form-control {
  border: 1px solid #4b6068;
}

#contact .needs-validation {
  font-size: 0.8em !important;
}

@media (min-width: 576px) {
  #contact .needs-validation {
    font-size: 1.2em !important;
  }
}

/*contact end*/
/*AUTHOR*/
#author {
  padding: 20px;
  margin: 20px;
  background-color: #F8EDEB;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

#author a {
  color: #F5A5A5;
  font-weight: bold;
}

#author h1 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
  font-size: 2em !important;
  font-weight: bold;
}

#author img {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 12px;
}

#author .opis {
  font-size: 0.8em !important;
}

@media (min-width: 576px) {
  #author .opis {
    font-size: 1em !important;
  }
}

#author .opis img {
  padding-top: 0;
}

#author .margin {
  margin: 30px 0px;
}

#author #section2 {
  height: 300px;
}

#author #bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/slide-2.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 100% 85%, 50% 100%, 0 85%, 0 57%);
          clip-path: polygon(0 0, 100% 0, 100% 56%, 100% 85%, 50% 100%, 0 85%, 0 57%);
  background-attachment: scroll;
}

#author #bg h2 {
  font-family: 'Bad Script', cursive;
  color: #F5A5A5;
  font-size: 2em !important;
}

#author .bg11 {
  background-image: url("../img/red_and_pink_roses.jpg") !important;
  -webkit-clip-path: polygon(50% 0%, 100% 15%, 100% 60%, 100% 100%, 0 100%, 0 56%, 0 15%) !important;
          clip-path: polygon(50% 0%, 100% 15%, 100% 60%, 100% 100%, 0 100%, 0 56%, 0 15%) !important;
}

#author .mt {
  margin-top: 30px;
}

#author .bg13 {
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 8%, 100% 92%, 50% 100%, 50% 100%, 0 92%, 0 8%) !important;
          clip-path: polygon(50% 0, 50% 0, 100% 8%, 100% 92%, 50% 100%, 50% 100%, 0 92%, 0 8%) !important;
}

#author .bg12 {
  background-image: url("../img/dark_pink_fl.jpg") !important;
}

#author .pt {
  padding-top: 20px;
}

#author .waves-effect {
  margin: 15px;
}

#author .carousel img {
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*author end*/
/*# sourceMappingURL=style.css.map */